.body-admin-login {
  background-color: rgb(155, 134, 134);
}
.error {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  color: white;
  background-color: rgb(255, 0, 0, 0.3);
  margin-top: 15px;
  padding: 10px;
}
.ttl-aklatan {
  background-image: url("../../image/bg-text.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5em;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
form h3 {
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
.ad-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
.ad-login-container form {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
.input-field .input {
  height: 45px;
  width: 87%;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 45px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
::-webkit-input-placeholder {
  color: #fff;
}
.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}
.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(61, 174, 17, 0.3);
}
.img {
  position: relative;
  top: 33px;
  left: 17px;
  color: #fff;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
.two-col, .cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 30px;
}
.one,
.two, .one1,.two1 {
  display: flex;
}
.one a, .one1 a, .two1 a,
.two a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 10px 20px;
  font-weight: 50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.one a:hover,
.two a:hover {
  border: 2px solid rgb(69, 69, 69);
  box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}

/* ================= INDEX PHP ================= */
.body-index {
  background: rgb(126, 104, 104);
}
.one1 {
  margin-right: 30px;
}
.cont .btnuser{
  background-color: green;
  padding: 20px 50px;
}
.cont .btnlib{
  background-color: rgb(3, 2, 88);
  padding: 20px 50px;
}
.btnuser:hover,
.btnlib:hover {
  border: 2px solid rgb(4, 85, 67);
  box-shadow: 1px 5px 7px 1px rgba(3, 252, 231, 0.2);
}
#countdown{
  color: white;
  padding: 10px;
}